{% extends 'base.html' %}

{% block header %}
  <header class="bg-primary-blue shadow-lg fixed-top">
    <div class="container-lg">
      <nav class="navbar navbar-expand-lg p-3">
        <a class="navbar-brand text-white fw-bold" href="{% url 'core:homepage' %}">Plataforma de Diagnóstico</a>

        <button class="navbar-toggler text-white border-0" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
               fill="white" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 010-1h11a.5.5 0 010 1h-11zm0-4a.5.5 0 010-1h11a.5.5 0 010 1h-11zm0-4a.5.5 0 010-1h11a.5.5 0 010 1h-11z"/>
          </svg>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarMain">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="{% url 'core:homepage' %}" class="btn btn-link text-white text-decoration-none">Home</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'core:search_repair' %}" class="btn btn-link text-white text-decoration-none">Buscar</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'core:sugestao_solucao' %}" class="btn btn-link text-white text-decoration-none">Sugerir
                Solução</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'admin:index' %}" class="btn btn-link text-white text-decoration-none">Administração</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
{% endblock header %}


{% block footer %}
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <p>&copy; 2013 - {% now "Y" %}. Eletrônica.</p>
    </div>
  </div>
{% endblock footer %}
